body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

header{
padding:20px;
}

.catalogo{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.producto{
background:#1c1c1c;
padding:15px;
border-radius:10px;
width:220px;
}

.producto img{
width:100%;
border-radius:8px;
}

.precio{
color:gold;
font-size:20px;
}

button{
background:gold;
border:none;
padding:10px;
cursor:pointer;
border-radius:5px;
}